@import "../../global.scss";

.konstuct-front {
    position: absolute;
    z-index: 15;
    margin-top: 200px !important;
    margin-left: 152px !important;
}

.konstuct-back {
    position: relative;
    margin-right: 152px;
    z-index: 15;
}