@import "../../global.scss";

.wheel {
    position: relative;
    h3 {
        @extend %font-skills-h3;
        color: $graySecond;
    }
    .wheel__logo {
        position: absolute;
        left: 50vh;
    }
    .skillsWheel__h2 {
        position: absolute;
        left: 68vh;
        top: 18vh;
        @extend %font-h2;
        color: $white;
    }
    .HTML__logo {
        position: absolute;
        left: 76vh;
        top: 1.5vh;
    }
    .CSS__logo {
        position: absolute;
        left: 84vh;
        top: 5.5vh;
    }
    .Figma__logo {
        position: absolute;
        left: 92vh;
        top: 15vh;
    }
    .Jquery__logo {
        position: absolute;
        left: 92vh;
        top: 24vh;
    }
    .React__logo {
        position: absolute;
        left: 88.5vh;
        top: 33vh;
    }
    .API__logo {
        position: absolute;
        left: 81.5vh;
        top: 39.5vh;
    }
    .AXIOS__logo {
        position: absolute;
        left: 71.5vh;
        top: 41.5vh;
    }
    .Webpack__logo {
        position: absolute;
        left: 61.5vh;
        top: 38.5vh;
    }
    .Vue__logo {
        position: absolute;
        left: 55vh;
        top: 33vh;
    }
    .BEM__logo {
        position: absolute;
        left: 52.5vh;
        top: 24vh;
    }
    .JavaScript__logo {
        position: absolute;
        left: 52vh;
        top: 14vh;
    }
    .GitHub__logo {
        position: absolute;
        left: 58.5vh;
        top: 6.5vh;
    }
    .Engish__logo {
        position: absolute;
        left: 66.5vh;
        top: 1.5vh;
    }
    .line__html {
        position: absolute;
        left: 81vh;
        top: -10vh;
    }
    .line__css {
        position: absolute;
        left: 91.5vh;
        top: -2vh;
    }
    .line__figma {
        position: absolute;
        left: 99vh;
        top: 12vh;
    }
    .line__jquery {
        position: absolute;
        left: 100vh;
        top: 27.5vh;
    }
    .line__react {
        position: absolute;
        left: 96vh;
        top: 39.5vh;
    }
    .line__API {
        position: absolute;
        left: 87vh;
        top: 47.5vh;
    }
    .line__AXIOS {
        position: absolute;
        left: 75vh;
        top: 50.5vh;
    }
    .line__webpack {
        position: absolute;
        left: 46vh;
        top: 47vh;
    }
    .line__vue {
        position: absolute;
        left: 33vh;
        top: 39vh;
    }
    .line__BEM {
        position: absolute;
        left: 33vh;
        top: 28vh;
    }
    .line__javascript {
        position: absolute;
        left: 33vh;
        top: 12vh;
    }
    .line__github {
        position: absolute;
        left: 42.5vh;
        top: -2vh;
    }
    .line__english {
        position: absolute;
        left: 59vh;
        top: -10vh;
    }
    .HTML__h3 {
        position: absolute;
        left: 93vh;
        top: -11.5vh;
    }
    .CSS__h3 {
        position: absolute;
        left: 109vh;
        top: -3.5vh;
    }
    .Figma__h3 {
        position: absolute;
        left: 119vh;
        top: 10.5vh;
    }
    .Jquery__h3 {
        position: absolute;
        left: 119vh;
        top: 27vh;
    }
    .React__h3 {
        position: absolute;
        left: 119vh;
        top: 41vh;
    }
    .API__h3 {
        position: absolute;
        left: 105vh;
        top: 55vh;
    }
    .AXIOS__h3 {
        position: absolute;
        left: 72vh;
        top: 65vh;
    }
    .Webpack_h3 {
        position: absolute;
        left: 33vh;
        top: 54.5vh;
    }
    .Vue__h3 {
        position: absolute;
        left: 4vh;
        top: 42vh;
    }
    .BEM__h3 {
        position: absolute;
        left: 26vh;
        top: 28vh;
    }
    .JS__h3 {
        position: absolute;
        left: -1vh;
        top: 10.5vh;
    }
    .GitHub__h3 {
        position: absolute;
        left: 33vh;
        top: -3.5vh;
    }
    .English__h3 {
        position: absolute;
        left: 45vh;
        top: -11.5vh;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1600px) {
    .wheel {
        font-size: 15px;
    }
    .wheel .wheel__logo {
        left: 43vh;
    }
    .wheel .skillsWheel__h2 {
        left: 62vh;
        top: 19vh;
    }
    .wheel .HTML__logo {
        left: 70vh;
        top: 1.5vh;
    }
    .wheel .CSS__logo {
        left: 79vh;
        top: 5.5vh;
    }
    .wheel .Figma__logo {
        left: 87vh;
        top: 15vh;
    }
    .wheel .Jquery__logo {
        left: 87vh;
        top: 25vh;
    }
    .wheel .React__logo {
        left: 83.5vh;
        top: 35vh;
    }
    .wheel .API__logo {
        left: 76.5vh;
        top: 41.5vh;
    }
    .wheel .AXIOS__logo {
        left: 65.5vh;
        top: 43.5vh;
    }
    .wheel .Webpack__logo {
        left: 55.5vh;
        top: 40.5vh;
    }
    .wheel .Vue__logo {
        left: 48vh;
        top: 35vh;
    }
    .wheel .BEM__logo {
        left: 45.5vh;
        top: 26vh;
    }
    .wheel .JavaScript__logo {
        left: 45vh;
        top: 15vh;
    }
    .wheel .GitHub__logo {
        left: 52vh;
    }
    .wheel .Engish__logo {
        left: 60.5vh;
    }
    .wheel .line__html {
        left: 76vh;
        top: -11vh;
    }
    .wheel .line__css {
        left: 87.5vh;
        top: -2vh;
    }
    .wheel .line__figma {
        left: 95vh;
    }
    .wheel .line__jquery {
        left: 97vh;
        top: 29.5vh;
    }
    .wheel .line__react {
        left: 92vh;
        top: 42.5vh;
    }
    .wheel .line__API {
        left: 83vh;
        top: 50.5vh;
    }
    .wheel .line__AXIOS {
        left: 69vh;
        top: 53.5vh;
    }
    .wheel .line__webpack {
        left: 27vh;
        top: 52vh;
    }
    .wheel .line__vue {
        left: 25vh;
        top: 41vh;
    }
    .wheel .line__BEM {
        left: 24vh;
        top: 29vh;
    }
    .wheel .line__javascript {
        left: 24vh;
        top: 12vh;
    }
    .wheel .line__github {
        left: 34.5vh;
    }
    .wheel .line__english {
        left: 51vh;
        top: -11vh;
    }
    .wheel .HTML__h3 {
        left: 89vh;
        top: -12.5vh;
    }
    .wheel .CSS__h3 {
        left: 106vh;
        top: -4.5vh;
    }
    .wheel .Figma__h3 {
        left: 116vh;
    }
    .wheel .Jquery__h3 {
        left: 116vh;
        top: 29vh;
    }
    .wheel .React__h3 {
        left: 116vh;
        top: 44vh;
    }
    .wheel .API__h3 {
        left: 102vh;
        top: 58vh;
    }
    .wheel .AXIOS__h3 {
        left: 66vh;
        top: 68vh;
    }
    .wheel .Webpack_h3 {
        left: 25vh;
        top: 57.5vh;
    }
    .wheel .Vue__h3 {
        left: -6vh;
        top: 44vh;
    }
    .wheel .BEM__h3 {
        left: 18vh;
        top: 29vh;
    }
    .wheel .JS__h3 {
        left: -12vh;
        top: 10.5vh;
    }
    .wheel .GitHub__h3 {
        left: 24vh;
        top: -3.5vh;
    }
    .wheel .English__h3 {
        left: 36vh;
        top: -12.5vh;
    }

    }
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
    .wheel .wheel__logo {
        position: absolute;
        left: 32vh;
    }
    .wheel .skillsWheel__h2 {
        left: 52vh;
    }
    .wheel .HTML__logo {
        left: 60vh;
        top: 1.5vh;
    }
    .wheel .CSS__logo {
        left: 69vh;
        top: 5.5vh;
    }
    .wheel .Figma__logo {
        left: 77vh;
        top: 15vh;
    }
    .wheel .Jquery__logo {
        left: 77vh;
        top: 25vh;
    }
    .wheel .React__logo {
        left: 73.5vh;
        top: 35vh;
    }
    .wheel .API__logo {
        left: 66.5vh;
        top: 41.5vh;
    }
    .wheel .AXIOS__logo {
        left: 55.5vh;
        top: 45.5vh;
    }
    .wheel .Webpack__logo {
        left: 44.5vh;
        top: 42.5vh;
    }
    .wheel .Vue__logo {
        left: 37vh;
        top: 36vh;
    }
    .wheel .BEM__logo {
        left: 34.5vh;
        top: 27vh;
    }
    .wheel .JavaScript__logo {
        left: 34.5vh;
        top: 15vh;
    }
    .wheel .GitHub__logo {
        left: 41.5vh;
    }
    .wheel .Engish__logo {
        left: 50.5vh;
    }
    .wheel .line__html {
        left: 66vh;
        top: -11vh;
    }
    .wheel .line__css {
        left: 77.5vh;
        top: -2vh;
    }
    .wheel .line__figma {
        left: 85vh;
    }
    .wheel .line__jquery {
        left: 87vh;
        top: 29.5vh;
    }
    .wheel .line__react {
        left: 82.5vh;
        top: 42.5vh;
    }
    .wheel .line__API {
        left: 73vh;
        top: 51.5vh;
    }
    .wheel .line__AXIOS {
        left: 59vh;
        top: 55.5vh;
    }
    .wheel .line__webpack {
        left: 28vh;
        top: 52vh;
    }
    .wheel .line__vue {
        left: 12.5vh;
        top: 42vh;
    }
    .wheel .line__BEM {
        left: 13vh;
        top: 31vh;
    }
    .wheel .line__javascript {
        left: 13vh;
        top: 12vh;
    }
    .wheel .line__github {
        left: 23.5vh;
    }
    .wheel .line__english {
        left: 41vh;
        top: -11vh;
    }
    .wheel .HTML__h3 {
        left: 79vh;
        top: -12.5vh;
        font-size: 18px;
    }
    .wheel .CSS__h3 {
        left: 96vh;
        top: -4.5vh;
        font-size: 18px;
    }
    .wheel .Figma__h3 {
        left: 106vh;
        font-size: 18px;
    }
    .wheel .Jquery__h3 {
        left: 106.5vh;
        top: 29vh;
        font-size: 18px;
    }
    .wheel .React__h3 {
        left: 106vh;
        top: 44vh;
        font-size: 18px;
    }
    .wheel .API__h3 {
        left: 92vh;
        top: 60vh;
        font-size: 18px;
    }
    .wheel .AXIOS__h3 {
        left: 56vh;
        top: 70vh;
        font-size: 18px;
    }
    .wheel .Webpack_h3 {
        left: 17vh;
        top: 60.5vh;
        font-size: 18px;
    }
    .wheel .Vue__h3 {
        left: -12vh;
        top: 45vh;
        font-size: 18px;
    }
    .wheel .BEM__h3 {
        left: 7vh;
        top: 31vh;
        font-size: 18px;
    }
    .wheel .JS__h3 {
        left: -15vh;
        top: 10.5vh;
        font-size: 18px;
    }
    .wheel .GitHub__h3 {
        left: 15vh;
        top: -3.5vh;
        font-size: 18px;
    }
    .wheel .English__h3 {
            left: 30vh;
            top: -12.5vh;
            font-size: 18px;
    }
    }
@media only screen and (max-width: 1366px) {
    /* стили */
    }
@media only screen and (max-width: 1024px) {
    /* стили */
    }
@media only screen and (max-width: 768px) {
    /* стили */
    }
@media only screen and (max-width: 360px) {
    /* стили */
    }
@media only screen and (max-width: 320px) {
    /* стили */
    }
